/* Additional styles for Cloud Team game */

@font-face {
    font-family: 'Rastamano';
    src: url('Rastamanoblique-xner.ttf') format('truetype');
}

body {
    font-family: 'JetBrains Mono', monospace;
}

h1, h2, h3, h4, h5, h6, #top-scores {
    font-family: 'Rastamano', cursive;
}

.toggle-checkbox:checked {
    right: 0;
    border-color: #68D391;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #68D391;
}

/* Add any additional custom styles here */